#reptile-information-card {
    background-color: #423c3c;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 50px;
}

#reptile-information-name {
    text-align: left;
    padding-left: 10px;
}


#reptile-information-species_type {
    font-size: large;
    text-align: left;
    padding-left: 10px;
}

#reptile-information-image {
    max-width: 80vmin;
}


.reptileInfoContent {
    background-color: #5d5858;
}

.reptileInfoActions {
    background-color: #5d5858;

}

.reptile-information-card-text {
    display: grid;
    grid-template-areas: "a b";
    margin-top: 10px;
}

.reptile-information-h2 {
    font-size: large;
    text-align: left;
}

.reptile-information-span {
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
}


.reptile-information-buttons {
    width: 75px;
    font-size: large;
    margin: 10px 0 0 25px !important;
    height: 50px;
}