.reptileDetails{
    display: flex;
}

.section1{
    padding: 20px;
    width: 40%;
}

.section2{
    border-left: 1px solid #a6a1a1;
    padding: 20px;
    width: 60%;
}



.img{
    width: 500px !important;
    height: 500px;
}

