.reptileDetails{
    display: flex;
}

.reptile-details-section1{
    padding: 20px;
    width: 40%;
}

.reptile-details-section2{
    border-left: 1px solid #a6a1a1;
    padding: 20px;
    width: 60%;
}

.tableAddButton{
    background-color: #7e3d3d !important;
    margin-bottom: 10px !important;
}